.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
}

#qr-container {
    margin: 5% auto;
}

.qr {
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 30px;
}

.qr img {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(67, 67, 68, 0.25);
    padding: 4px;
}